@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;700&display=swap');
@import './reset.css';

/* reset ================= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

ul,
li,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

/* content ================= */

.tdHead {
	font-size: 14px;
	font-weight: bold;
	width : 32%;
	text-align: left
}

.tdContentCnt {
	font-size: 14px;
	width : 6%;
}
.tdContentText {
	font-size: 14px;
	width : 30%;
}

#headBox {
	height:30px;
}

#footBox {
	height:60px;
	overflow:hidden;
	word-wrap:break-word;

}

/* footPopup ================*/
#fixed-form-container{
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    margin: 0;

}

#fixed-form-container .body{
    background-color: #a3a3a3;
    border-radius: 5px;
    border: 2px solid #a3a3a3;
    margin-bottom: 16px;
    color: #ffffff;
    padding: 10px;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.3);
}

@media only screen and (min-width:768px){
    #fixed-form-container .button{
       margin: 0;

    }
    #fixed-form-container {
        left: 20px;
        width: 390px;
        text-align: left;
    }

    #fixed-form-container .body{
        padding: 30px;
        border-radius: 0px 5px 5px 5px;
    }
}

/*===============button click================ */

/*button 개별 css  */
.taget_button > button {
  width: 100%;
  height: 100%;
  font-size: 130%;
  cursor: pointer;
  outline: none;
  background-color: #a3a3a3;
  color: #ffffff;
  box-shadow: 1px 4px 0 rgb(0,0,0,0.5);
}

/*button active css  */
.taget_button > button:active {
  box-shadow: 1px 1px 0 rgb(0,0,0,0.5);
  position: relative;
  top:2px;
}


